<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="DBCS"
         connectionString="Data Source=SHAJAN-PC;Initial Catalog=devdatabase;Persist Security Info=True;User ID=shajan;Password=dev"
         providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

</configuration>
